.colorDark {
    color: #484349;
}

.colorLight {
    color: #DFE0E2;
}

.colorWhite {
    color: white;
}

.colorBlue {
    color: #4F86C6;
}

.colorRed {
    color: #DB4C40;
}

.colorPurple {
    color: #C47AC0;
}

.backgroundDark {
    background-color: #484349;
}

.backgroundLight {
    background-color: #DFE0E2;
}

.backgroundBlue {
    background-color: #4F86C6;
}

.backgroundRed {
    background-color: #DB4C40;
}

.backgroundPurple {
    background-color: #C47AC0;
}

.backgroundLogique {
    background: linear-gradient(45deg, #23CE6B, green);
}

.backgroundMémoire {
    background: linear-gradient(45deg, #5995ED, blue);

}

.backgroundRéflexe {
    background: linear-gradient(45deg, #FE7F2D, rgb(199, 110, 0));

}

.backgroundConcentration {
    background: linear-gradient(45deg, #EB4511, darkred);
}