.containerMiddleColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerAlignMiddle {
    display: flex;
    align-items: center;
}

.containerSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.containerSpaceAround {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerSpaceEvenly {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.containerAlignLeft {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}