@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500&family=Fredoka&display=swap');


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  margin-top: auto;
}

img {
  width: 10%;
}

/* Style de la barre de navigation */
.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }

  /* Style des liens de la barre de navigation */
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
  }

  /* Style du lien actif */
  .navbar a.active {
    background-color: #04AA6D;
  }

  /* Style du lien au survol */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .websiteBackground { 
    background-image: url("../../storage/app/public/static/backgroundIQWorld.png");
    background-size:auto;
    background-attachment: fixed;
  }

  hr {
    border: none;
    background: #484349;
    height: 3px;
    border-radius: 20px;
  }

  .card {
    /* Ajouter des ombres pour créer l'effet "carte" */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* Définir une largeur maximale */
    max-width: 270px;
    /* Ajouter une marge autour de la carte */
    padding: 10px;
    /* Ajouter une transition pour l'effet de survol */
    transition: 0.3s;
    /* Ajouter des coins arrondis */
    border-radius: 10px;
  }

  .card:hover {
    /* Augmenter l'opacité des ombres au survol */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     /* Augmenter la taille de la carte au survol */
     transform: scale(1.1);
     /* Ajouter un effet de rotation au survol */
     transform: rotate(5deg);
   }

   .card-image {
     /* Définir la largeur et la hauteur de l'image */
     width: 20%;
     height: 20%;
   }
  
  .page {
    border-radius: 10px;
    padding:2%;
    margin:2%;
    max-width: 450px;
    word-wrap: break-word;
    max-height: 10%;
  }
  
  .author {
    text-align: right;
  }

  div[class*=box] {
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    padding: 1%;
  }
  
  .btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  .file-input {
    padding: 1% 2%;
    margin: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .file-input::-webkit-file-upload-button {
    background: #4CAF50;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .file-input:hover::-webkit-file-upload-button {
    background: #3e8e41;
  }

  .profilePicture img {
    width: 200px;
    height: 200px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.5);
  }

  #game {
    position: relative;
}

.buttonGame {
  background-color: #4CAF50; /* Couleur de fond verte */
  border: none; /* Pas de bordure */
  color: white; /* Texte blanc */
  padding: 15px 32px; /* Rembourrage */
  text-align: center; /* Texte centré */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Affichage en ligne */
  font-size: 16px; /* Taille de police */
  border-radius: 12px; /* Bords arrondis */
  transition-duration: 0.4s; /* Durée de la transition */
  margin: 10px;
}

.buttonGame:hover {
  background-color: #3e8e41; /* Couleur de fond plus foncée au survol */
}

.calculator {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 40%;
  grid-row-gap: 30%;
  position: absolute;
  bottom: 0;
  transform: translate(-40%, -120%);
}

.calculator button {
  font-size: 20px;
  color: white;
  background-color: #cecece;
  border: none;
  border-radius: 5px;
  width: 200%;
  height: 200%;
  transition: all 0.1s ease-in-out;
}

.calculator button.yoyo {
  grid-row: 4;
  grid-column: span 1;
}

.calculator button.zero {
  grid-row: 4;
  grid-column: span 1;
}

.calculator button.clear {
  grid-row: 4;
  grid-column: span 1;
}

.calculator button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.calculator button:active {
  transform: translateY(-0px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.tableRanking {
  font-size: 70%;
  border-collapse: collapse;
  width: 70%;
}

.tableRanking th,
.tableRanking td {
  text-align: left;
  padding: 8px;
}

.tableRanking tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableRanking th {
  background-color: #626262;
  color: white;
}

.tableRanking tr:hover {
  background-color: #b6b6b6;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  width: 30%;
  padding: 1%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
}

.search-input:focus {
  outline: none;
  border-bottom: 2px solid #4CAF50;
}

.search-button {
  width: 5%;
  padding: 1%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 100%;
  cursor:pointer;
}

.search-button:hover {
  background-color: #45a049;
}

.progress-container {
  width: 50%;
  height: 30px;
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  font-family: 'Fredoka', sans-serif;
}

.progress-bar {
  height: 30px;
  text-align: right;
  line-height: 30px;
  color: white;
  border-radius: 10px;
}

.progress-circle {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-circle svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.progress-circle svg circle {
  fill: none;
  transform: translate(25%, 60%);
  stroke-width: 5;
}

.progress-circle svg circle:nth-of-type(1) {
  stroke: #dfe3e6;
}

.progress-circle svg circle:nth-of-type(2) {
  stroke: #4bc0c8;
  stroke-dasharray: calc(628 * var(--percentage) / 100) 440;
}

.footer-container {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  color: #ddd;
}

.footer-text {
  font-size: 100%;
  font-family: 'Fredoka', sans-serif;
}


  /* Style pour les écrans étroits */
@media screen and (max-width: 900px) {
    /* Style de la barre de navigation */
    .navbar {
      display: flex;
      align-items: center;
      position: sticky;
    }

    /* Style des liens de la barre de navigation */
    .navbar a {
      color: white;
      text-decoration: none;
      padding: 4% 1%;
    }

    /* Style du lien actif */
    .navbar a.active {
      background-color: #04AA6D;
    }

    /* Style du lien au survol */
    .navbar a:hover {
      background-color: #8d8d8d;
      transform: scale(1.1);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      color: black;
    }

    img {
      width: 20%;
    }

    .page {
      max-width: 300px;
    }
}